<div class="flex items-center my-10 gap-6 justify-center flex-wrap">
  <div class="bg-stone-100 rounded-xl shadow-2xl hover:scale-105 duration-300 transition-all hover:shadow-xl">    
    <img src="/samsung-galaxy-m13.png" class="max-w-[350px] lg:max-w-[250px]" />
    <div class="bg-indigo-500 pt-2 pb-6 rounded-b-xl text-white">
      <div class="bg-gray-100 w-[50%] my-2 flex items-center justify-center rounded-r-2xl">
        <img src="https://digitalife-public.sfo2.digitaloceanspaces.com/brands/432/6155ff8832717.png" alt="" class="w-14">
      </div>
      <h1 class="text-center text-lg">Galaxy M13 (64GB)</h1>
      <div class="flex items-center justify-evenly mt-4">
        <h2 class="text-center  font-bold">₹ 12,999</h2>
        <a href="" class="py-2 px-4 bg-neutral-50 rounded-lg text-gray-900">Ver</a>
      </div>
    </div>
  </div>
</div>
