<div
  class="flex items-center justify-center gap-6 my-4 flex-wrap"
  id="category-container"
>
</div>



<script>

  // <i class="fa-solid fa-pen-to-square"></i> edit
  // delete <i class="fa-solid fa-trash-can"></i>
  import { listCategory } from "../service/category.service";

  const categoryContainer = document.querySelector("#category-container");

  const datos = await listCategory();

  console.log(datos);

  datos.forEach((dt) => {
    const card = document.createElement("div");
    card.classList.add("flex", "items-center", "flex-col", "gap-4","cursor-pointer");

    const img = document.createElement("img");
    img.classList.add(
      "border-[3px]",
      "border-indigo-500",
      "rounded-full",
      "w-24",
      "shadow-xl",
      "bg-gray-100"
    );
    img.src = dt.image;
    card.appendChild(img);

    const title = document.createElement("h1");
    title.classList.add("dark:text-stone-50");
    title.innerHTML = dt.name;
    card.appendChild(title);

    categoryContainer.appendChild(card);
  });

</script>
