<div class=" flex items-center justify-center gap-6 my-4 flex-wrap">
  <div class=" flex items-center flex-col gap-4">
    <img src="https://www.jbl.com.pe/dw/image/v2/AAUJ_PRD/on/demandware.static/-/Sites-masterCatalog_Harman/default/dw8436972d/1.JBL_TUNE_710BT_Product%20Image_Hero_Black.png?sw=537&sfrm=png" alt="" class="border-[3px] border-indigo-500 rounded-full w-24 shadow-xl bg-gray-100">
  <h1 class="dark:text-stone-50">Auriculares</h1>
  </div>
</div>