---
import CategoryCard from "./CategoryCard.astro";

---

<div class="my-6 flex items-center justify-between px-4 lg:px-32">
  <div class="border-b-2 border-indigo-500">
    <h1 class="font-medium mb-2 lg:text-lg text-sm dark:text-stone-50">Filtrar productos por <b class="font-medium text-sm lg:text-lg text-indigo-500">categorias </b></h1>
  </div>
  <div class="flex items-center gap-1 hover:scale-105 transition-all duration-300">
  </div>
</div>
<div>
  <CategoryCard />
</div>