<div class="bg-indigo-500 w-full shadow-2xl flex items-center justify-between lg:px-32 lg:mt-10 absolute bottom-0 px-4 flex-col lg:flex-row lg:static py-6 rounded-t-2xl text-white">
  <h1 class="font-fasthand text-2xl">Delika</h1>
  <h1>Todos los derechos reservados Copyright - 2023</h1>
  <div class="text-3xl cursor-pointer animate-bounce">
    <a href="https://github.com/KEEGAN-exe" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
  </div>
</div>